body {
    font-family: sans-serif;
}




#loading {
    height: 100px;
    width: 900px;
    position: relative;
    background-color:  rgb(177, 0, 0);
    border: 5px solid rgb(177, 0, 0);
    margin: 200px;
    color: rgb(177, 0, 0);
    font-size: 30px;
}
#loading h1{
    position: absolute;
    top: 15%;
    margin: 0;
}
#loading::before {
    content: " ";
    display: block;
    z-index: 1;
    height: 100%;
    width: 0%;
    background-color: white;
    animation-name: fill;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


#rotating-circle {
    height: 200px;
    width: 200px;
    background-color: rgb(158, 0, 0);
    margin: 400px;
    border-radius: 50%;
    position: relative;
    animation-name: circles;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}


#rotating-circle::after {
    display: block;
    content: "";
    width: 150px;
    height: 150px;
    bottom: 25px;
    right: 250px;
    position: absolute;
    border-radius: 50%;
    background-color: rgb(255, 124, 124);
} 
#rotating-circle::before {
    display: block;
    content: " ";
    width: 150px;
    height: 150px;
    left: 250px;
    top: 25px;
    border-radius: 50%;
    background-color: rgb(255, 124, 124);
    position: relative;
} 

#box-ball {
    width: 300px;
    height: 300px;
    background-color: rgb(255, 171, 164);
    margin: 200px;
    position: relative;
}
#ball {
    width: 45px;
    height: 45px;
    background-color:  rgb(177, 0, 0);
    position: absolute;
    border-radius: 50%;
    animation-name: num3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
#box {
    width: 0%;
    height: 100%;
    animation-name: fill;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color:  rgb(177, 0, 0);
}
#twoLoad {
    height: 100px;
    width: 800px;
    margin: 200px;
    background-color: rgb(177, 0, 0);
    position: relative;
    color: white;
    font-size: 40px;
    
}

#twoLoad::before{
    display: block;
    content: " ";
    height: 130px;
    width: 0%;
    background-color:rgb(255, 131, 119);
    bottom: -15px;
    z-index: -1;
    position: absolute;
    animation-name: fill;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes circles {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fill {
    0%{
        width: 0%;
    }
    100% {
        width: 100%;
    }
    
}

@keyframes num3{
    0%{
        top: -15%;
    left: -15%;
    }

    25% {
        top: -15%;
        left: 100%;
    }
    50% {
        top:  100%;
        left: 100%;
    }
    75% {
        top: 100%;
        left: -15%;
    }
    100%{
        top: -15%;
    left: -15%;
    }
}
