:root {
    --border: 3px solid #453a36;
    --yellow: #fef9e6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    height: 800px;
    width: 800px;
    border: var(--border);
    margin: 80px auto;
    display: flex;
}
#container div {
    border: var(--border)
}
#leftBox {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#leftBox div{
    width: 100%;
    background-color: var(--yellow);
}
#leftBox div:nth-of-type(1){
    height: 35%;
}
#leftBox div:nth-of-type(2){
    height: 40%;
}
#leftBox div:nth-of-type(3){
    height: 25%;
    background-color: #409cc5;
}
#rightBox {
    width: 75%;
    height: 100%;
}
#rightBox>div:nth-of-type(1) {
    width: 100%;
    height: 75%;
    background-color: #ec4938;
}
#rightBox>div:nth-of-type(2){
    width: 100%;
    height: 25%;
    background-color: var(--yellow);
    display: flex;
    justify-content: flex-end;
}
#smallBoxes {
    width: 10%;
    height: 100%;
}
#smallBoxes div {
    width: 100%;
    height: 50%;
}
#smallBoxes div:nth-of-type(1) {
    background-color: var(--yellow);
    border-width: 0px 0px 5px 10px;
}
#smallBoxes div:nth-of-type(2) {
    background-color: #ffff00;
    border-width: 0px 0px 0px 10px;
}