:root {
    --border: 3px solid #453a36;
    --yellow: #fef9e6;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#home {
    width: 800px;
    height: 800px;
    position: relative;
    margin: 80px auto;

}
#home div {
    border: var(--border)
}
#div1 {
    width: 25%;
    height: 30%;
    background-color: var(--yellow);
    border: var(--border)
}
#div2 {
    position: absolute;
    width: 75%;
    height: 75%;
    top: 0px;
    right: 0px;
    background-color: #ec4938;
    border: var(--border);
}
#div3 {
    width: 25%;
    height: 45%;
    background-color: var(--yellow);
    border: var(--border)
}
#div4 {
    width: 25%;
    height: 25%;
    background-color: #409cc5;
}
#div5 {
    width: 68%;
    height: 25%;
    background-color: var(--yellow);
    position: absolute;
    bottom: 0px;
    left: 25%;
}
#div6 {
    height: 12.5%;
    width: 7%;
    background-color: #ffff00;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#div7 {
    height: 12.5%;
    width: 7%;
    background-color: var(--yellow);
    position: absolute;
    right: 0px;
    bottom: 12.5%;
}