html {
    scroll-behavior: smooth;
  }
img {
    width: 70%;
    margin: 5px;
    margin: 20px 0px;
    border: 3px solid #457B9D;
    
}
body {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    font-size: 18px;
    margin: 0px;
    font-family: Poppins, sans-serif;
    
}
article{
    margin: 50px;
    
}
main {
    max-width: 100%;
    margin: 40px 40px;
    margin-left: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid-template-areas:
    "aside article01"
    "aside article02"
    "aside article03"

}
h2 {
    text-align: center;
    font-size: 2.2rem;
}
h3 {
    margin-left: 1rem;
    font-size: 1.5rem;
}
header {
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 150px;
    padding-left: 50px;
    background-color: #1D3557;
    color: #F1FAEE;
    width: 95%;
    height: 70px;
}
header nav {
    display: flex;
    align-items: center;
}
header nav a {
    text-decoration: none;
    margin: 0 20px;
    font-size: 1.4rem;
    color: #F1FAEE;
}
footer{
    width: 100%;
   display: grid;
   height: 70px;
   background-color: #457B9D;
   grid-template-columns: 1fr 4fr 1fr;
   grid-template-rows: auto;
   grid-template-areas: "footP footLink .";

}
footer p{
    font-weight: 600;
    margin: 0px;
    grid-area: footP;
    align-self: center;
    justify-self: start;
    margin-left: 10px;
}
footer a {
    
    text-decoration: none;
    color: #F1FAEE;
    grid-area: footLink;
    align-self: center;
    justify-self: center;
    font-size: 1.3rem;
}
audio {
    margin-left: 5px;
}
aside {
    padding: 20px;
    grid-area: aside;
    background-color: #A8DADC;
    color: #1D3557;

}
form input, form label{
    font-size: 1.3rem;
    margin: 10px;
}
form div{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 10px;
}
form input {
    width: 60%;
}


.h2click {
    padding-top: 100px;
    margin-top: -100px;
   }
#photos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#article01 {
    grid-area: article01;
}
#article02 {
    grid-area: article02;
}
#article03 {
    grid-area: article03;
    
}
#article03 section:nth-of-type(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
/* Below style is to make the iframe video responsive */
@media(max-width: 1650px){
    #video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; 
        height: 0; 
        overflow: hidden;
    }
    #video-container iframe {
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%; }
    }

/* Below styles are to make the site responsive on smaller windows 
and to move some of the elements as the screen is getting smaller */
@media(max-width: 850px){
    main {
        max-width: 100%;
        margin: 40px 40px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "article01"
        "article02"
        "article03"
        "aside"
    
    }
    h1 {
        font-size: 2rem;
    }
    header {
        width: 90%;
    }
    
    header nav a {
        font-size: 1.2rem;
        margin: 0px 10px;
        
    }
    footer {
        grid-template-columns: 1fr 3fr 1fr;
    }
    footer a {
        font-size: 1.2rem;
    }
    
}
